.view {
  h3 {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-weight: normal;
    font-family: Arial;
  }

  p {
    margin: 0 0 24px;
    padding: 0;
  }

  .icon {
    font-size: 48px;
    margin: 24px;
    color: #333;
    transition: all 200ms ease;
    &:hover {
      transform: scale(2);
    }
  }

  .green {
    color: #57BC57;
  }
}
