.button {
  width: 100%;
  flex: 1;
  &.cancel {
    margin-right: 16px;
  }
}
.input {
  margin: 0 0 10px;
  input {
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5em;
    border-radius: 4px;
    border: 1px solid #cecece;
    appearance: none;
    outline: none;
    transition: all 200ms ease;
    &:focus {
      border: 1px solid #0bbe06;
    }
  }
}
.message {
  font-size: 12px;
  line-height: 1.5em;
  color: #666;
}
