.view {
  h3 {
    margin: 36px 24px 0;
    padding: 0;
    line-height: 1.5em;
    font-weight: normal;
    font-family: Arial;
  }
}

.phone {
  width: 414px;
  height: 736px;
  margin: 36px auto;
  background-color: #fafafa;
  padding: 24px;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  &.view {
    h3 {
      margin: 24px 0;
    }
  }
}

.center {
  text-align: center;
}

.warning {
  font-size: 12px;
  font-style: italic;
  color: red;
}
