@import '../../demo.pcss';

.view {
  h3 {
    margin:24px 0;
  }
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 48px;
  color: #fff;
}
